extends ../layouts/layout.pug
include ../mixins/_article.pug
block title
    title Home
block main-content
    .owl-carousel.owl-carousel-hd.owl-theme
        .item.row.slide
            .img-slide
                img(src="https://www.free-css.com/assets/files/free-css-templates/preview/page236/dailyshop/assets/img/slider/1.jpg", alt="slide")
            .text-slide
                span.text-pink.bg-white SAVE UP TO 50% OFF
                h1.text-black MEN COLLECTION
                p.text-white Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, illum.
                a.text-pink.bg-white SHOP NOW
        .item.row.slide
            .img-slide
                img(src="https://www.free-css.com/assets/files/free-css-templates/preview/page236/dailyshop/assets/img/slider/2.jpg", alt="slide")
            .text-slide
                span.text-pink.bg-white SAVE UP TO 50% OFF
                h1.text-black BEST COLLECTION
                p.text-white Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, illum.
                a.text-pink.bg-white SHOP NOW
        .item.row.slide
            .img-slide
                img(src="https://www.free-css.com/assets/files/free-css-templates/preview/page236/dailyshop/assets/img/slider/3.jpg", alt="slide")
            .text-slide
                span.text-pink.bg-white SAVE UP TO 50% OFF
                h1.text-black BEST COLLECTION
                p.text-white Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, illum.
                a.text-pink.bg-white SHOP NOW
        .item.row.slide
            .img-slide
                img(src="https://www.free-css.com/assets/files/free-css-templates/preview/page236/dailyshop/assets/img/slider/4.jpg", alt="slide")
            .text-slide
                span.text-pink.bg-white SAVE UP TO 50% OFF
                h1.text-black BEST COLLECTION
                p.text-white Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, illum.
                a.text-pink.bg-white SHOP NOW
        .item.row.slide
            .img-slide
                img(src="https://www.free-css.com/assets/files/free-css-templates/preview/page236/dailyshop/assets/img/slider/5.jpg", alt="slide")
            .text-slide
                span.text-pink.bg-white SAVE UP TO 50% OFF
                h1.text-black BEST COLLECTION
                p.text-white Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, illum.
                a.text-pink.bg-white SHOP NOW
    .row.img-content
        .col-sm-12.col-md-5
            .img-left
                .img
                    img(src="https://www.free-css.com/assets/files/free-css-templates/preview/page236/dailyshop/assets/img/slider/3.jpg", alt="img")
                    span.bg-hv
                    .text-img
                        span.text-pink 75% Off
                        a(href="#")
                            h2 FOR WOMEN
        .col-sm-12.col-md-7
            .row
                .img-right.col-xs-12.col-sm-6.col-md-6
                    .img
                        img(src="https://www.free-css.com/assets/files/free-css-templates/preview/page236/dailyshop/assets/img/promo-banner-3.jpg", alt="img")
                        span.bg-hv
                        .text-img-r
                            span.text-pink 75% Off
                            a(href="#")
                                h2 FOR MEN
                    .img
                        img(src="https://www.free-css.com/assets/files/free-css-templates/preview/page236/dailyshop/assets/img/promo-banner-2.jpg", alt="img")
                        span.bg-hv
                        .text-img-r
                            span.text-pink 75% Off
                            a(href="#")
                                h2 FOR MEN
                .img-right.col-xs-12.col-sm-6.col-md-6
                    .img
                        img(src="https://www.free-css.com/assets/files/free-css-templates/preview/page236/dailyshop/assets/img/promo-banner-4.jpg", alt="img")
                        span.bg-hv
                        .text-img-r
                            span.text-pink 75% Off
                            a(href="#")
                                h2 FOR MEN
                    .img
                        img(src="https://www.free-css.com/assets/files/free-css-templates/preview/page236/dailyshop/assets/img/promo-banner-5.jpg", alt="img")
                        span.bg-hv
                        .text-img-r
                            span.text-pink 75% Off
                            a(href="#")
                                h2 FOR WOMEN
    .list-img-hv
        .list-img
            ul.row
                li
                    a.active(href="#") MEN
                li
                    a(href="#") WOMEN
                li
                    a(href="#") SPORTS
                li
                    a(href="#") ELECTRONICS
        ul.img-hv.row
            .col-sm-6.col-md-3.hv-ic-bg.col
                li.img-hv-bg
                    a(href="#")
                        span.sale SALE!
                        img(src="https://www.free-css.com/assets/files/free-css-templates/preview/page236/dailyshop/assets/img/man/polo-shirt-2.png", alt="img")
                        ul.row.list-icon
                            li
                                a(href="#")
                                    i.far.fa-heart
                            li
                                a(href="#")
                                    i.fas.fa-exchange-alt
                            li
                                a(href="#")
                                    i.fas.fa-search
                        a.text-icon-img(href="#")
                            i.fas.fa-shopping-cart  ADD TO CART
                .products
                    a.product-name.row.text-black(href="#") Polo T-Shirt
                    .row
                        p.text-pink $45.50
                        p.text-pink.text-dt  $65.50   
            .col-sm-6.col-md-3.hv-ic-bg.col
                li.img-hv-bg
                    a(href="#")
                        span.sale.bg-red Sold Out!
                        img(src="https://www.free-css.com/assets/files/free-css-templates/preview/page236/dailyshop/assets/img/man/t-shirt-1.png", alt="img")
                        ul.row.list-icon
                            li
                                a(href="#")
                                    i.far.fa-heart
                            li
                                a(href="#")
                                    i.fas.fa-exchange-alt
                            li
                                a(href="#")
                                    i.fas.fa-search
                        a.text-icon-img(href="#")
                            i.fas.fa-shopping-cart  ADD TO CART
                .products
                    a.product-name.row.text-black(href="#") Polo T-Shirt
                    .row
                        p.text-pink $45.50
            .col-sm-6.col-md-3.hv-ic-bg.col
                li.img-hv-bg
                    a(href="#")
                        span.sale SALE!
                        img(src="https://www.free-css.com/assets/files/free-css-templates/preview/page236/dailyshop/assets/img/man/polo-shirt-1.png", alt="img")
                        ul.row.list-icon
                            li
                                a(href="#")
                                    i.far.fa-heart
                            li
                                a(href="#")
                                    i.fas.fa-exchange-alt
                            li
                                a(href="#")
                                    i.fas.fa-search
                        a.text-icon-img(href="#")
                            i.fas.fa-shopping-cart  ADD TO CART
                .products
                    a.product-name.row.text-black(href="#") Polo T-Shirt
                    .row
                        p.text-pink $45.50
                        p.text-pink.text-dt  $65.50
            .col-sm-6.col-md-3.hv-ic-bg.col
                li.img-hv-bg
                    a(href="#")
                        span.sale.bg-orange HOT!
                        img(src="https://www.free-css.com/assets/files/free-css-templates/preview/page236/dailyshop/assets/img/man/polo-shirt-4.png", alt="img")
                        ul.row.list-icon
                            li
                                a(href="#")
                                    i.far.fa-heart
                            li
                                a(href="#")
                                    i.fas.fa-exchange-alt
                            li
                                a(href="#")
                                    i.fas.fa-search
                        a.text-icon-img(href="#")
                            i.fas.fa-shopping-cart  ADD TO CART
                .products
                    a.product-name.row.text-black(href="#") Polo T-Shirt
                    .row
                        p.text-pink $45.50
                        p.text-pink.text-dt  $65.50
        ul.img-hv.row
            .col-sm-6.col-md-3.hv-ic-bg.col
                li.img-hv-bg
                    a(href="#")
                        span.sale SALE!
                        img(src="https://www.free-css.com/assets/files/free-css-templates/preview/page236/dailyshop/assets/img/man/polo-shirt-2.png", alt="img")
                        ul.row.list-icon
                            li
                                a(href="#")
                                    i.far.fa-heart
                            li
                                a(href="#")
                                    i.fas.fa-exchange-alt
                            li
                                a(href="#")
                                    i.fas.fa-search
                        a.text-icon-img(href="#")
                            i.fas.fa-shopping-cart  ADD TO CART
                .products
                    a.product-name.row.text-black(href="#") Polo T-Shirt
                    .row
                        p.text-pink $45.50
                        p.text-pink.text-dt  $65.50   
            .col-sm-6.col-md-3.hv-ic-bg.col
                li.img-hv-bg
                    a(href="#")
                        span.sale.bg-red Sold Out!
                        img(src="https://www.free-css.com/assets/files/free-css-templates/preview/page236/dailyshop/assets/img/man/t-shirt-1.png", alt="img")
                        ul.row.list-icon
                            li
                                a(href="#")
                                    i.far.fa-heart
                            li
                                a(href="#")
                                    i.fas.fa-exchange-alt
                            li
                                a(href="#")
                                    i.fas.fa-search
                        a.text-icon-img(href="#")
                            i.fas.fa-shopping-cart  ADD TO CART
                .products
                    a.product-name.row.text-black(href="#") Polo T-Shirt
                    .row
                        p.text-pink $45.50
            .col-sm-6.col-md-3.hv-ic-bg.col
                li.img-hv-bg
                    a(href="#")
                        span.sale SALE!
                        img(src="https://www.free-css.com/assets/files/free-css-templates/preview/page236/dailyshop/assets/img/man/polo-shirt-1.png", alt="img")
                        ul.row.list-icon
                            li
                                a(href="#")
                                    i.far.fa-heart
                            li
                                a(href="#")
                                    i.fas.fa-exchange-alt
                            li
                                a(href="#")
                                    i.fas.fa-search
                        a.text-icon-img(href="#")
                            i.fas.fa-shopping-cart  ADD TO CART
                .products
                    a.product-name.row.text-black(href="#") Polo T-Shirt
                    .row
                        p.text-pink $45.50
                        p.text-pink.text-dt  $65.50
            .col-sm-6.col-md-3.hv-ic-bg.col
                li.img-hv-bg
                    a(href="#")
                        span.sale.bg-orange HOT!
                        img(src="https://www.free-css.com/assets/files/free-css-templates/preview/page236/dailyshop/assets/img/man/polo-shirt-4.png", alt="img")
                        ul.row.list-icon
                            li
                                a(href="#")
                                    i.far.fa-heart
                            li
                                a(href="#")
                                    i.fas.fa-exchange-alt
                            li
                                a(href="#")
                                    i.fas.fa-search
                        a.text-icon-img(href="#")
                            i.fas.fa-shopping-cart  ADD TO CART
                .products
                    a.product-name.row.text-black(href="#") Polo T-Shirt
                    .row
                        p.text-pink $45.50
                        p.text-pink.text-dt  $65.50
        .row
            a.browse-product.text-white.bg-pink(href="#") Browse all Product
                span
                    i.fas.fa-long-arrow-alt-right
        .row
            a.img-mark(href="#")
                img(src="https://www.free-css.com/assets/files/free-css-templates/preview/page236/dailyshop/assets/img/fashion-banner.jpg", alt="img")
    .list-img-hv
        .list-img
            ul.row
                li
                    a.active(href="#") POPULAR
                li
                    a(href="#") FEATURED
                li
                    a(href="#") LATEST
        ul.img-hv.row
            .col-sm-6.col-md-3.hv-ic-bg.col
                li.img-hv-bg
                    a(href="#")
                        span.sale SALE!
                        img(src="https://www.free-css.com/assets/files/free-css-templates/preview/page236/dailyshop/assets/img/man/polo-shirt-2.png", alt="img")
                        ul.row.list-icon
                            li
                                a(href="#")
                                    i.far.fa-heart
                            li
                                a(href="#")
                                    i.fas.fa-exchange-alt
                            li
                                a(href="#")
                                    i.fas.fa-search
                        a.text-icon-img(href="#")
                            i.fas.fa-shopping-cart  ADD TO CART
                .products
                    a.product-name.row.text-black(href="#") Polo T-Shirt
                    .row
                        p.text-pink $45.50
                        p.text-pink.text-dt  $65.50   
            .col-sm-6.col-md-3.hv-ic-bg.col
                li.img-hv-bg
                    a(href="#")
                        span.sale.bg-red Sold Out!
                        img(src="https://www.free-css.com/assets/files/free-css-templates/preview/page236/dailyshop/assets/img/women/girl-2.png", alt="img")
                        ul.row.list-icon
                            li
                                a(href="#")
                                    i.far.fa-heart
                            li
                                a(href="#")
                                    i.fas.fa-exchange-alt
                            li
                                a(href="#")
                                    i.fas.fa-search
                        a.text-icon-img(href="#")
                            i.fas.fa-shopping-cart  ADD TO CART
                .products
                    a.product-name.row.text-black(href="#") Polo T-Shirt
                    .row
                        p.text-pink $45.50
            .col-sm-6.col-md-3.hv-ic-bg.col
                li.img-hv-bg
                    a(href="#")
                        span.sale SALE!
                        img(src="https://www.free-css.com/assets/files/free-css-templates/preview/page236/dailyshop/assets/img/man/t-shirt-1.png", alt="img")
                        ul.row.list-icon
                            li
                                a(href="#")
                                    i.far.fa-heart
                            li
                                a(href="#")
                                    i.fas.fa-exchange-alt
                            li
                                a(href="#")
                                    i.fas.fa-search
                        a.text-icon-img(href="#")
                            i.fas.fa-shopping-cart  ADD TO CART
                .products
                    a.product-name.row.text-black(href="#") Polo T-Shirt
                    .row
                        p.text-pink $45.50
                        p.text-pink.text-dt  $65.50
            .col-sm-6.col-md-3.hv-ic-bg.col
                li.img-hv-bg
                    a(href="#")
                        span.sale.bg-orange HOT!
                        img(src="https://www.free-css.com/assets/files/free-css-templates/preview/page236/dailyshop/assets/img/women/girl-3.png", alt="img")
                        ul.row.list-icon
                            li
                                a(href="#")
                                    i.far.fa-heart
                            li
                                a(href="#")
                                    i.fas.fa-exchange-alt
                            li
                                a(href="#")
                                    i.fas.fa-search
                        a.text-icon-img(href="#")
                            i.fas.fa-shopping-cart  ADD TO CART
                .products
                    a.product-name.row.text-black(href="#") Polo T-Shirt
                    .row
                        p.text-pink $45.50
                        p.text-pink.text-dt  $65.50
        .row
            a.browse-product.text-white.bg-pink(href="#") Browse all Product
                span
                    i.fas.fa-long-arrow-alt-right
    .row.bg-black.content-bg-t
        .col-sm-12.col-md-4.bg-t
            span
                i.fas.fa-truck.text-pink
            h3.text-white FREE SHIPPING
            p.text-white Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, nobis.
        .col-sm-12.col-md-4.bg-t
            span
                i.far.fa-clock.text-pink
            h3.text-white 30 DAYS MONEY BACK
            p.text-white Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, nobis.
        .col-sm-12.col-md-4.bg-t
            span
                i.fas.fa-phone.text-pink
            h3.text-white SUPPORT 24/7
            p.text-white Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, nobis.
    .bg-img
        .owl-carousel.owl-carousel-t.owl-theme.bg-opa
            .item.bg-pink.bg-p.text-white
                img(src="https://www.free-css.com/assets/files/free-css-templates/preview/page236/dailyshop/assets/img/testimonial-img-2.jpg", alt="img")
                span
                    i.fas.fa-quote-left
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga neque et in eligendi, quisquam vitae reiciendis, ad ipsam doloremque, autem corrupti iusto possimus sequi?
                h3 Allison
                p Designer
                a.text-white(href="#") Driddble.com
            .item.bg-pink.bg-p.text-white
                img(src="https://www.free-css.com/assets/files/free-css-templates/preview/page236/dailyshop/assets/img/testimonial-img-1.jpg", alt="img")
                span
                    i.fas.fa-quote-left
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga neque et in eligendi, quisquam vitae reiciendis, ad ipsam doloremque, autem corrupti iusto possimus sequi?
                h3 Allison
                p Designer
                a.text-white(href="#") Driddble.com
            .item.bg-pink.bg-p.text-white
                img(src="https://www.free-css.com/assets/files/free-css-templates/preview/page236/dailyshop/assets/img/testimonial-img-3.jpg", alt="img")
                span
                    i.fas.fa-quote-left
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga neque et in eligendi, quisquam vitae reiciendis, ad ipsam doloremque, autem corrupti iusto possimus sequi?
                h3 Allison
                p Designer
                a.text-white(href="#") Driddble.com
    .container
        h2.text-pink LATEST BLOG
        .row
            .col-sm-12.col-md-4.img-tx
                .img-f
                    img(src="https://www.free-css.com/assets/files/free-css-templates/preview/page236/dailyshop/assets/img/promo-banner-1.jpg", alt="img")
                    .row.icon-fl.bg-black
                        p
                            span.text-white
                                i.far.fa-eye  5K
                        p
                            a(href="#")
                                span.text-white
                                    i.far.fa-thumbs-up  426
                        p
                            a(href="#")
                                span.text-white
                                    i.far.fa-comment  20
                        p
                            span.text-white
                                i.far.fa-clock  june 26,2016
                a(href="#")
                    h3.text-black Lorem ipsum dolor sit amet
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, ad? Autem quos natus nisi aperiam, beatae, fugiat odit vel impedit dicta enim repellendus animi. Expedita quas reprehenderit incidunt, voluptates corporis.
                a.text-pink(href="#") Read more
                    span
                        i.fas.fa-long-arrow-alt-right
            .col-sm-12.col-md-4.img-tx
                .img-f
                    img(src="https://www.free-css.com/assets/files/free-css-templates/preview/page236/dailyshop/assets/img/promo-banner-3.jpg", alt="img")
                    .row.icon-fl.bg-black
                        p
                            span.text-white
                                i.far.fa-eye  5K
                        p
                            a(href="#")
                                span.text-white
                                    i.far.fa-thumbs-up  426
                        p
                            a(href="#")
                                span.text-white
                                    i.far.fa-comment  20
                        p
                            span.text-white
                                i.far.fa-clock  june 26,2016
                a(href="#")
                    h3.text-black Lorem ipsum dolor sit amet
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, ad? Autem quos natus nisi aperiam, beatae, fugiat odit vel impedit dicta enim repellendus animi. Expedita quas reprehenderit incidunt, voluptates corporis.
                a.text-pink(href="#") Read more
                    span
                        i.fas.fa-long-arrow-alt-right
            .col-sm-12.col-md-4.img-tx
                .img-f
                    img(src="https://www.free-css.com/assets/files/free-css-templates/preview/page236/dailyshop/assets/img/promo-banner-1.jpg", alt="img")
                    .row.icon-fl.bg-black
                        p
                            span.text-white
                                i.far.fa-eye  5K
                        p
                            a(href="#")
                                span.text-white
                                    i.far.fa-thumbs-up  426
                        p
                            a(href="#")
                                span.text-white
                                    i.far.fa-comment  20
                        p
                            span.text-white
                                i.far.fa-clock  june 26,2016
                a(href="#")
                    h3.text-black Lorem ipsum dolor sit amet
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, ad? Autem quos natus nisi aperiam, beatae, fugiat odit vel impedit dicta enim repellendus animi. Expedita quas reprehenderit incidunt, voluptates corporis.
                a.text-pink(href="#") Read more
                    span
                        i.fas.fa-long-arrow-alt-right


    .list-slide
        .owl-carousel.owl-theme
            .item.img-logo
                img(src="https://www.free-css.com/assets/files/free-css-templates/preview/page236/dailyshop/assets/img/client-brand-jquery.png", alt="logo")
            .item.img-logo
                img(src="https://www.free-css.com/assets/files/free-css-templates/preview/page236/dailyshop/assets/img/client-brand-css3.png", alt="logo")
            .item.img-logo
                img(src="https://www.free-css.com/assets/files/free-css-templates/preview/page236/dailyshop/assets/img/client-brand-jquery.png", alt="logo")
            .item.img-logo
                img(src="https://www.free-css.com/assets/files/free-css-templates/preview/page236/dailyshop/assets/img/client-brand-css3.png", alt="logo")
            .item.img-logo
                img(src="https://www.free-css.com/assets/files/free-css-templates/preview/page236/dailyshop/assets/img/client-brand-jquery.png", alt="logo")
            .item.img-logo
                img(src="https://www.free-css.com/assets/files/free-css-templates/preview/page236/dailyshop/assets/img/client-brand-css3.png", alt="logo")
