.col-sm-12
    .text-f
        h1 SUBSCRIBE OUR NEWSLETTER
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, velit!
        form.search-box
            input(type="text", placeholder="Enter Your Email")
            button.bg-pink(type="submit", value="SUBSCRIBE") SUBSCRIBE

footer.bg-black
    .container
        .row.foo-t
            .col-xs-12.col-sm-6.col-md-3.text-ft
                h3 Main Menu
                p
                    a(href="#") Home
                p
                    a(href="#") Our Services
                p 
                    a(href="#") Our Products
                p 
                    a(href="#") About Us
                p 
                    a(href="#") Contact Us
            .col-xs-12.col-sm-6.col-md-3.text-ft
                h3 Knowledge Base
                p 
                    a(href="#") Delivery
                p 
                    a(href="#") Returns
                p 
                    a(href="#") Services
                p 
                    a(href="#") Discount
                p 
                    a(href="#") Special Offer
            .col-xs-12.col-sm-6.col-md-3.text-ft
                h3 Useful Links
                p 
                    a(href="#") Site Map
                p 
                    a(href="#") Search
                p 
                    a(href="#") Advanced Search
                p 
                    a(href="#") Suppliers
                p 
                    a(href="#") FAQ
            .col-xs-12.col-sm-6.col-md-3.text-ft
                h3 Contact Us
                p 25 Astor Pl, NY 10003, USA
                p 
                    span 
                        i.fas.fa-phone  +1 212-982-4589
                p 
                    span 
                        i.fas.fa-envelope  info@gmail.com
                .row.logo-bt
                    a.logo-1(href="#")
                        i.fab.fa-facebook-f
                    a.logo-2(href="#")
                        i.fab.fa-twitter
                    a(href="#")
                        i.fab.fa-google-plus-g
                    a(href="#")
                        i.fab.fa-youtube
        .row.foo-bt
            .col-xs-6.col-sm-6
                .text-ft
                    p.text-bold Designed by
                        a.hv-pink(href="#")  MarkUps
            .col-xs-6.col-sm-6
                .text-ft
                    .row.lg-right
                        a(href="#")
                            i.fab.fa-cc-mastercard
                        a(href="#")
                            i.fab.fa-cc-visa
                        a(href="#")
                            i.fab.fa-paypal
                        a(href="#")
                            i.fab.fa-cc-discover
