nav
    ul.menu.row
        li
            span
                img.fas(src="../../dist/assets/img/flag/english.jpg", alt="flag-el")
            a(href="#")
                input#control(type='button', value='ENG LISH')
        li
            span
                i.fas.fa-dollar-sign
            a(href="#")
                input#control(type='button', value='USD')
        li
            span
                i.fas.fa-phone
            a(href="#") 00-62-658-658
        li
            a(href="#") My Account
        li
            a(href="#") Whishlist
        li
            a(href="#") My Cart
        li
            a(href="#") Checkout
        li
            a(href="#") Login
//- end head-top

.row-fl.mg-left
    .cols-sm-6.cols-md-4.fl-left
        .logo.row.mg-top
            a.text-pink(href="#")
                span
                    i.fas.fa-shopping-cart
            p daily 
                strong.text-pink Shop
                br
                span YOUR SHOPPING PARTNER
    .cols-sm-6.cols-md-3.fl-right
        .logo-right
            p
                span 2
            a(href="#")
                span
                    i.fas.fa-shopping-basket
            p
                strong SHOPPING CART
    .cols-sm-12.cols-md-5.fl-right.col
        form.search-box
            input(type="text", placeholder="Search here ex. 'man' ")
            button.bg-pink(type="submit", value="")
                span
                    i.fas.fa-search
.row-fl
    nav.menu-2
        label.toggle-icon(for="toggleControl")
            span
            span
            span
        input#toggleControl(type="checkbox")
        ul.bg-pink.row
            li
                a(href="#") Home
            li
                a(href="#") Men
                    ul.submenu
                        li
                            a(href="#") Casual
                        li
                            a(href="#") Sports
                        li
                            a(href="#") Formal
                        li
                            a(href="#") standard
                        li
                            a(href="#") T-Shirts
                        li
                            a(href="#") shirts
                        li
                            a(href="#") jeans
                        li
                            a(href="#") Trousers
                        li
                            a(href="#") And More..
                                ul.submenu-2
                                    li
                                        a(href="#") Sleep Wear
                                    li
                                        a(href="#") Sandals
                                    li
                                        a(href="#") Loafers
            li
                a(href="#") Women
                    ul.submenu
                        li
                            a(href="#") Casual
                        li
                            a(href="#") Sports
                        li
                            a(href="#") Formal
                        li
                            a(href="#") standard
                        li
                            a(href="#") T-Shirts
                        li
                            a(href="#") shirts
                        li
                            a(href="#") jeans
                        li
                            a(href="#") Trousers
                        li
                            a(href="#") And More..
                                ul.submenu-2
                                    li
                                        a(href="#") Sleep Wear
                                    li
                                        a(href="#") Sandals
                                    li
                                        a(href="#") Loafers
            li
                a(href="#") Kids
                    ul.submenu
                        li
                            a(href="#") Casual
                        li
                            a(href="#") Sports
                        li
                            a(href="#") Formal
                        li
                            a(href="#") standard
                        li
                            a(href="#") T-Shirts
                        li
                            a(href="#") shirts
                        li
                            a(href="#") jeans
                        li
                            a(href="#") Trousers
                        li
                            a(href="#") And More..
                                ul.submenu-2
                                    li
                                        a(href="#") Sleep Wear
                                    li
                                        a(href="#") Sandals
                                    li
                                        a(href="#") Loafers
            li
                a(href="#") Sports
            li
                a(href="#") Digital
                    ul.submenu
                        li
                            a(href="#") Casual
                        li
                            a(href="#") Sports
                        li
                            a(href="#") Formal
                        li
                            a(href="#") standard
                        li
                            a(href="#") T-Shirts
            li
                a(href="#") Furniture
            li
                a(href="#") Blog
                    ul.submenu
                        li
                            a(href="#") Casual
                        li
                            a(href="#") Sports
                        li
                            a(href="#") Formal
                        li
                            a(href="#") standard
                        li
                            a(href="#") T-Shirts
            li
                a(href="#") Contact
            li
                a(href="#") Pages
                    ul.submenu
                        li
                            a(href="#") Casual
                        li
                            a(href="#") Sports
                        li
                            a(href="#") Formal
                        li
                            a(href="#") standard
                        